.card {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 2px 2px #cecece;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 1px solid #cecece;
  background-color: #d7202c;
  color: white;
}
